.top {
  &__list {
    width: 22%;
    float: left;
    &:last-child {
      width: 12%;
      float: right;
    }
  }
  &__link{
    color:#5a5757;
  }
  &__li{
    position:relative;
    padding-left: 10px;
    &:before{
      @extend %vertical-stroke;
      top:0;
      left:0;
      color:#5a5757;
    }
  }
  &__title{
    padding-bottom: 14px;
  }
}

.footer__holder{
  padding:21px;
  padding-bottom: 65px;
  margin-bottom: 10px;
  @extend %border-grey;
}